.Event {
  border: 1px solid #b6b7b8;
  border-radius: 8px;
  padding: 2px;
  margin: 4px;
}

li {
  list-style: none;
  font-size: 16px;
  padding: 0 0 0 5px;
  color: #5f6368;
}

ul {
  text-align: left;
  padding: 0;
}

h6 {
  margin: 0;
  padding: 2px 0 0 5px;
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
